@model List<Semhan.UsuarioSet>

<div class="container-table">
    <table id="Tabla" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-dark table-striped">
            <tr>
                <th>Id</th>
                <th>Nombre</th>

            </tr>
        </thead>

        <tbody class="table-hover">

            @foreach (var usuario in Model)
            {

                <tr>
                    <td>@usuario.id<td>
                    <td>@usuario.nombre</td>

                    <td>

                        <div class="btn-group" style="float: right">

                            <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                Ações
                                <i class="fa fa-angle-down"></i>
                            </button>


                            <ul class="dropdown-menu" role="menu">


                                <li><a href="@Url.Action("EditarUsuario", "Usuarios", new { usuarioId = usuario.id })">Editar</a></li>
                                <li><a href='#' onclick="confirm('¿Está seguro que quiere dar de baja a ' + '@usuario.nombre?') ? window.location = '@Url.Action("DarDeBajaUsuario", "Usuarios", new { usuarioId = usuario.id })' : null" data-nombre="@usuario.nombre">Cancelar subscrição</a></li>
                                <li><a href="#myModal" class="btnAdminstrar" data-toggle="modal" data-id="@usuario.id">Gerenciar campanhas</a></li>



                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>